*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.menubar{
    border: 5px solid red;
    background: linear-gradient(to left, rgba(141, 155, 11, 0.795), rgba(20, 104, 182, 0.733));
    height: 150px;
}

.menubar ul{
    list-style: none;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menubar ul li{
    padding: 22px 22px ;
}

.menubar ul li a{
    text-decoration: none;
}

/* menubar css end ///// */

/* profilecontainer////// */

.profilecontainer{
    border: 5px  solid blue;
    display: flex;
}

.profile{
    border: 5px solid rgb(0, 0, 0);
    font-size: 1.3rem;
    padding: 5rem 3rem;
}

.profilepic{
    border: 5px solid rgb(0, 252, 21);
}

.profilepic img{
    width: 25vw;
    height: 66vh;
}

@media only screen and (max-width: 570px){
    .profilecontainer{
        flex-direction: column-reverse;
    }
    .profilepic{
        text-align: center;
    }
    .profilepic img{
        
        width: 33vw;
        height: 22vh;
    }
}

.btn{
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn a{
    text-align: center;
    text-decoration: none;
    color: rgb(248, 231, 210);
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0px 9px;
    padding: 8px 12px;
    background: linear-gradient(to left, rgba(141, 155, 11, 0.795), rgba(20, 104, 182, 0.733));
    border-radius: 2rem;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px;
}

/* profilecontainer/////// */

.serviceheading{
    border: 5px solid red;
}

/* servicesontainer///////////// */

.servicesontainer{
    border: 5px solid rgb(3, 226, 241);
    
}

.s1{
    border: 5px solid red;
}

/* servicesontainer//////////// */

footer{
    border: 5px solid rgb(60, 255, 0);
}